<div style="float: right">
	<a href="https://github.com/massoudAfrashteh/coditori"><img style="border: 0; width: 75px;" src="/assets/images/icon/fork-code-on-github.png" alt="Fork coditori on GitHub"></a>
	 <!-- Place this tag in your head or just before your close body tag. -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<!-- Place this tag where you want the button to render. -->
	<a class="github-button" href="https://github.com/ntkme/github-buttons" data-icon="octicon-star" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
 	<!-- Place this tag where you want the button to render. -->
	<!-- <a class="github-button" href="https://github.com/massoudafrashteh/code" data-size="large" data-show-count="true" aria-label="Star massoudafrashteh/code on GitHub">Star</a> -->
</div>