<div style="float: right">
	<div style="text-align: center;">
		<a href="https://github.com/massoudAfrashteh/coditori"><img style="border: 0; width: 75px;" src="/assets/images/icon/fork-code-on-github.png" alt="Fork coditori on GitHub"></a>
	</div>
	<div style="padding-top: 2px;">
		<a class="github-button" href="https://github.com/massoudafrashteh/coditori" data-icon="octicon-star" data-show-count="true" aria-label="Star massoudafrashteh/coditori on GitHub">Star</a>
	</div>
 	<!-- Place this tag where you want the button to render. -->
	<!-- <a class="github-button" href="https://github.com/massoudafrashteh/code" data-size="large" data-show-count="true" aria-label="Star massoudafrashteh/code on GitHub">Star</a> -->
</div>